<div class="panel-group " id="accordion">
          <div class="panel panel-default col-xs-0 col-sm-4 col-md-3">

            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="#intro">
                  <span class="glyphicon glyphicon-hand-right" style="margin-top: 100px"></span>Introduction</a>
              </h4>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <span class="glyphicon glyphicon-wrench"></span>Installation</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <td>
                      <span class="glyphicon glyphicon-warning-sign"></span><a href="#required">Prérequis</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="glyphicon glyphicon-circle-arrow-down"></span><a href="#downloadServer">Téléchargement serveur</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="glyphicon glyphicon-circle-arrow-down"></span><a href="#downloadLib">Téléchargement librairie</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="glyphicon glyphicon-floppy-saved"></span><a href="#installServer">Installation serveur</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="glyphicon glyphicon-floppy-saved"></span><a href="#installLib" scrollTo="element">Installation librairie</a>
                    </td>
                  </tr>

                </table>
              </div>
            </div>

            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-book">
                            </span>Tutoriel</a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <td>
                      <span class="glyphicon glyphicon-menu-right"></span><a href="http://www.jquery2dotnet.com">lien 1</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="glyphicon glyphicon-menu-right"></span><a href="#">lien 2</a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>



