<app-header></app-header>
<app-nav></app-nav>


<div class="container" style="margin-top: 50px">
<div class="row">


  <div class="col-xs-0 col-sm-4 col-md-3">


  </div>


  <div class="col-xs-12 col-sm-8 col-md-9">


    <app-intro></app-intro>
    <hr>



    <app-required></app-required>
    <app-download-server></app-download-server>
    <app-download-lib></app-download-lib>
    <app-install-server></app-install-server>
    <app-install-lib></app-install-lib>

    <hr>


  </div>




</div>
</div>
